body {
  background: #323232;
  background: -moz-linear-gradient(left, #323232 0%, #646464 100%);
  background: -webkit-linear-gradient(left, #323232 0%, #646464 100%);
  background: linear-gradient(right, #323232 0%, #646464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#646464',GradientType=1 ); }

main {
  background-color: white;
  padding: 40px;
  margin-right: -15px;
  margin-left: -15px;
  border-right: 1px solid #191919;
  border-bottom: 1px solid #191919; }

footer {
  background: white;
  margin-top: 50px;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #191919;
  border-right: 1px solid #191919; }

footer ul {
  list-style: none;
  margin-bottom: 25px;
  padding-left: 0px; }

footer li {
  display: inline;
  margin: 20px; }

p, li {
  font-size: 16px; }

nav ul {
  list-style: none;
  padding: 0;
  box-shadow: 1px 1px 2px #191919; }

nav li {
  height: 50px;
  text-align: center;
  color: #f2f2f2;
  padding: 0; }

nav h1 {
  margin-top: 10px;
  font-size: 5em;
  text-align: center;
  text-shadow: 1px 1px 2px #191919; }

nav h4 {
  margin-top: -10px;
  text-align: center;
  text-shadow: 1px 1px 2px #191919; }

.masthead {
  padding: 0px;
  color: #f2f2f2;
  margin-top: 10px;
  margin-bottom: 30px; }

.byline {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0px; }

.nav-home {
  background: #f17105;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease; }

.nav-home:hover {
  color: #f17105;
  background: white;
  font-weight: bold; }

.nav-projects {
  background: #d11149;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease; }

.nav-projects:hover {
  color: #d11149;
  background: white;
  font-weight: bold; }

.nav-resume {
  background: #9010e2;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease; }

.nav-resume:hover {
  color: #9010e2;
  background: white;
  font-weight: bold; }

.nav-writing {
  background: #1a8fe3;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease; }

.nav-writing:hover {
  color: #1a8fe3;
  background: white;
  font-weight: bold; }

.nav-contact {
  background: #2ECC71;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
  border-right: 1px solid #191919; }

.nav-contact:hover {
  color: #2ECC71;
  background: white;
  font-weight: bold; }

@media (max-width: 430px) {
  nav {
    font-size: .8em; }
  .nav-projects, .nav-home, .nav-about, .nav-resume, .nav-writing, .nav-contact {
    padding: 15px 0px 0px 0px; } }

.contact h1, .contact a.contact {
  color: #2ECC71; }

.contact li {
  margin-bottom: 7px; }

.contact li a {
  color: #323232; }

.contact li a:hover {
  font-weight: bold;
  color: #2ECC71; }

.writing h1, a.writing {
  color: #1a8fe3; }

.go-read a {
  color: #1a8fe3; }

.writing div article {
  margin-bottom: 60px; }

.writing-sample a:hover {
  color: #1a8fe3; }

.writing-sample a {
  color: black; }

blockquote {
  font-size: 16px; }

* {
  font-family: 'Raleway', sans-serif; }

.home h1, a.home {
  color: #f17105; }

.projects h1, a.projects {
  color: #d11149; }

.writing h1, a.writing {
  color: #1a8fe3; }

.contact h1, a.contact {
  color: #2ECC71; }

a.resume {
  color: #9010e2; }

.resume section {
  margin-bottom: 50px; }

.resume h3 {
  color: black;
  margin-bottom: 5px; }

.resume ul {
  padding-left: 0px; }

.resume li {
  list-style: none;
  color: #666666;
  font-size: 20px; }

.resume h1, .resume h2, .resume h3 a {
  color: #9010e2; }

.resume h2 small a {
  color: #666666; }

.resume .tech-notes {
  color: #666666;
  font-style: italic;
  margin-bottom: 0px; }

.resume p {
  color: #666666;
  font-size: 20px;
  margin-bottom: 40px; }
