<div class='about'>
  <h1>About</h1>
  <p>Hi! My name is Lincoln, and I am a full-stack web developer and/or writer from Denver, CO.</p>

  <p>I have a background in theater, education, and English (via a BFA from the University of Northern Colorado). Web development is more recent addition my skill set. I am currently enrolled in Galvanize’s Full Stack Immersive Program. I will complete that program in July 2016.</p>

  <p>More than anything, I love experiencing art. Be it books, movies, comics, music, poetry, television, video games, theatre or anything else, I love it all. Experiencing it, analyzing it, over-analyzing it, and decorating my life with it. And occasionally, I contribute some of my own. I am particularly interested in the intersection between art and tech, and how they transform and enhance each other.</p>

  <p>I am also very passionate about the plight of marginalized communities, and in particular how that plight influences and interacts with the art these communities create. I believe that social issues, besides being extremely important on their own, are economic, political and spiritual issues. I believe equality on all fronts, healthy representation, and understanding privilege are some of the most important issues we face.</p>

  <p>I also enjoy arguing, cats and Doctor Who, which is probably why I spend so much time on the internet.</p>

  <p>I can be reached <a ui-sref="contact">here</a>, and I encourage you to connect with me on one of my (too) many social media accounts. Say hello!</p>
</div>
