<div class='contact'>
  <h1>Contact</h1>
  <div class="row">
  <div class="col-md-10">
  <ul>
    <li>Phone: <a href="mailto:jlincolndennis@gmail.com">Ask me!</a></li>
    <li>Email: <a href="mailto:jlincolndennis@gmail.com">jlincolndennis@gmail.com</a></li>
  </ul>

  <h1>Connect</h1>
  <ul>
    <li><a href="https://www.linkedin.com/in/jlincolndennis" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/jlincolndennis" target="_blank">GitHub</a></li>
    <li><a href="https://twitter.com/jlincolndennis" target="_blank">Twitter</a></li>
    <li><a href="https://medium.com/@jlincolndennis" target="_blank">Medium</a></li>
  </ul>

  <h1>Follow</h1>
  <p>I believe in as much transparency as is practically possible regarding my online accounts. I am <strong>jlincolndennis</strong> anywhere I care to be on The Internets. A list of my social media accounts is available <a href="http://jlincolndennis.tumblr.com/social-media" target="_blank">here</a>, though most of these accounts are probably more of interest to prospective <em>pals</em> rather than prospective <em>employers</em>. I am always looking for more pals!</p>

  <!-- <p>Also, I am not on Facebook, nor will I ever be. If you see someone under my name there, it is not me.</p> -->

</div>
</div>
</div>
