<div class='contact'>
  <h1>Contact</h1>
  <ul>
    <li>Phone: 720 208 8775</li>
    <li>Email: jlincolndennis@gmail.com</li>
  </ul>

  <h1>Connect</h1>
  <ul>
    <li>LinkedIn</li>
    <li>GitHub</li>
  </ul>

  <h1>Follow</h1>
  <p>I am <strong>jlincolndennis</strong> anywhere I care to be on The Internets. Here's a few places you can find me, though these are more of interest to prospective pals rather than prospective employers...</p>
  <ul>
    <li>Twitter</li>
    <li>Medium</li>
    <li>Instagram</li>
    <li>Tumblr</li>
  </ul>
</div>
