<div class='home'>
  <h1>Welcome!</h1>
  <div class="row">

  <div class="col-md-3 col-md-push-7">
  <img class="headshot img-responsive" src="http://i.imgur.com/vOqk10v.jpg" alt="J Lincoln Dennis" />
  <p class="text-center headshot-headline"><strong>Fig. 1.</strong> Portrait of the Artist Staring Strangely Off Into The Distance At A Weird Bird Or Something...</p>
  </div>

  <div class="col-md-7 col-md-pull-3 bio">
  <p class="lead">My name is Lincoln. I am a full stack web developer and/or writer from Denver, CO.</p>

  <p>I recieved my Web Development Merit Badge from the Full Stack Immersive Program at <a href="http://www.galvanize.com/" target="_blank">Galvanize</a> in July 2016. Additionally, I have a background in theater, education, and English (via a BFA from the <a href="http://www.unco.edu/" target="_blank">University of Northern Colorado</a>). I'm also really good at those claw machines filled with stuffed animals you often find in bowling alleys.</p>

  <p>More than anything, I love art. Be it books, movies, comics, music, poetry, television, code, video games, theatre or anything else, I love it all. Experiencing it, analyzing it, over-analyzing it, and decorating my life with it. And occasionally, I contribute some of my own. I am particularly interested in the intersection between art and tech, and how they transform and enhance each other.</p>

  <p>I also enjoy arguing, cats (specifically <a href="http://jlincolndennis.tumblr.com/tagged/tycho" target="_blank">this one</a>), and Doctor Who, which is probably why I spend so much time on the internet.</p>
</div>
</div>

  <feed></feed>
</div>
