<div class='projects'>
  <h1>Web Development Projects</h1>
  <article class="row">
    <div class="col-md-6">
      <h3 class="project-name">tuneUp</h3>
      <h3 class="project-links"><small><a href="https://tuneupjs.herokuapp.com/" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/tuneup" target="_blank">codebase</a></small></h3>
      <p class='tech-notes'>Notable Tech: AngularJS, SQL, JSON Web Tokens</p>
      <p>A single-page application that allows logged in users to recommend tracks from their favorite albums, and vote and leave comments on other users’ recommendations.</p>

      <p>tuneUp began its life as an exercise in learning AngularJS’s component-based architecture. The scope of the project was expanded to include utilizing the Revealing Module Pattern, and to follow John Papa’s style guide. After exhausting myself with all of those buzzwords, I decided to make the app a music recommendation service because I think music, in general, is pretty rad.</p>

      <p></p>
    </div>
  <div class="screenshot col-md-4">
    <img class="img-responsive" src="http://img.wonderhowto.com/img/72/44/63488496755639/0/take-screenshots-and-crop-them-windows-8.w654.jpg" alt="" />
  </div>

</article>

<article class="row">
  <div class="col-md-6">
    <h3 class="project-name">The Illiterati of Denver</h3>
    <h3 class="project-links"><small><a href="http://www.denverilliterati.com/" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/denverilliterati" target="_blank">codebase</a></small></h3>
    <p class='tech-notes'>Notable Tech: AngularJS, Javascript, CSS</p>
    <p>The homepage of Denver’s “Most-Awesome and Best-Named Book Club” - a group organized by yours truly - serving as an informational and promotional hub for current and prospective members.</p>

    <p>This project has the distinction of being the first site I have developed and deployed to a real, live user-base with the somewhat unreasonable expectation that the site actually work consistently and intuitively. In addition to being the furthest I had pushed myself in terms of design at that point, it has also been a wonderful learning experience in receiving actual feedback from real users.</p>

  </div>
<div class="screenshot col-md-4">
  <img class="img-responsive" src="http://img.wonderhowto.com/img/72/44/63488496755639/0/take-screenshots-and-crop-them-windows-8.w654.jpg" alt="" />
</div>

</article>

<article class="row">
  <div class="col-md-6">
    <h3 class="project-name">WhereAbouts</h3>
    <h3 class="project-links"><small><a href="http://where-a-bouts.herokuapp.com/" target="_blank">visit</a> | <a href="https://github.com/blakeface/whereabouts" target="_blank">codebase</a></small></h3>
    <p class="tech-notes">Notable Tech: jQuery, Google Maps API, OAuth, SQL, Knex.js</p>
    <p>A full stack app built by a team of four, Whereabouts is a community-powered map for overlooked points-of-interest. Developed using Agile methodologies, I worked mostly on server-side routing, user authorization, and CRUD implementation.</p>

    <p>In addition to being the only app I know of where one can learn about a waterfall that steals souls, this project was as much as learning to develop in a team - particularly while utilizing the Agile workflow - as it was about building a full stack CRUD app. Over the course of development, I worked on my own and in pairs,  learned how to integrate my code into a larger code base, and how to work with and debug code I didn’t write.</p>
  </div>
<div class="screenshot col-md-4">
  <img class="img-responsive" src="http://img.wonderhowto.com/img/72/44/63488496755639/0/take-screenshots-and-crop-them-windows-8.w654.jpg" alt="" />
</div>

</article>

<article class="row">
  <div class="col-md-6">
    <h3 class="project-name">This Week in Marvel History</h3>
    <h3 class="project-links"><small><a href="http://jlincolndennis.github.io/marvel-history.github.io/index.html" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/marvel-history" target="_blank">codebase</a> | <a href="https://www.youtube.com/watch?v=g40vh1apCjs" target="_blank">tour</a> </small></h3>
    <p class="tech-notes">Notable Tech: jQuery, Marvel Comics API, HTML, CSS</p>
    <p>Browse the vast and interesting publication history of Marvel Comics with this front-end web app that utilizes the Official Marvel Comics API.</p>

    <p>The one that started it all, this app was a frontend only project, mainly because frontend was all I knew when I did it. It was also my first experience interacting with APIs and my introduction to JSON objects. What I was able to accomplish with this somewhat limited toolset has also retroactively given me an even greater respect for Angular and other frontend frameworks. Using jQuery to append all those divs? Oh, you sweet summer child.</p>
  </div>
<div class="screenshot col-md-4">
  <img class="img-responsive" src="http://img.wonderhowto.com/img/72/44/63488496755639/0/take-screenshots-and-crop-them-windows-8.w654.jpg" alt="" />
</div>

</article>

</div>
