<div class='resume'>
  <h1>Resume <small><a href="https://drive.google.com/file/d/0Bxuui1ZxK6VRcUp4YVY1X2Z4cmc/view?usp=sharing" target="_blank">(PDF)</a></small></h1>
<div class="row">

  <div class="col-md-7 col-md-push-3">
    <h2>Projects <small><a ui-sref="projects">(More Info...)</a></small></h2>
    <section class="projects">
      <h3>StorySmasher</h3>
      <h3 class="project-links"><small><a href="https://storysmasher.com" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/storysmasher-client" target="_blank">codebase</a></small></h3>
      <p class='tech-notes'>Notable Tech: AngularJS, Ruby on Rails, SQL, JSON Web Tokens</p>
      <p>Created a single page application that allows users to smash out randomly generated stories. Built a Rails API to manage the database</p>

      <h3>The Illiterati of Denver</h3>
      <h3 class="project-links"><small><a href="http://www.denverilliterati.com/" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/denverilliterati" target="_blank">codebase</a></small></h3>
      <p class='tech-notes'>Notable Tech: AngularJS, Javascript, CSS</p>
      <p>Designed and deployed a production homepage app for a user base of 30-50 members.</p>

      <h3>WhereAbouts</h3>
      <h3 class="project-links"><small><a href="http://where-a-bouts.herokuapp.com/" target="_blank">visit</a> | <a href="https://github.com/blakeface/whereabouts" target="_blank">codebase</a></small></h3>
      <p class="tech-notes">Notable Tech: jQuery, Google Maps API, OAuth, SQL, Knex.js</p>
      <p>A full stack app built by a team of four, developed using Agile methodologies. I wired up server-side routing, built user authorization, and implemented CRUD.</p>

      <h3>This Week in Marvel History</h3>
      <h3 class="project-links"><small><a href="http://jlincolndennis.github.io/marvel-history.github.io/index.html" target="_blank">visit</a> | <a href="https://github.com/jlincolndennis/marvel-history" target="_blank">codebase</a> | <a href="https://www.youtube.com/watch?v=g40vh1apCjs" target="_blank">tour</a> </small></h3>
      <p class="tech-notes">Notable Tech: jQuery, Marvel Comics API, HTML, CSS</p>
      <p>Built a front-end web app that consumes the Official Marvel Comics API to search and browse through notable moments in comics’ history.</p>

      <h3><a ui-sref="projects">More Projects...</a></h3>
    </section>

    <h2>Education</h2>
      <section class="education">
        <h3>Galvanize <small>Boulder CO</small></h3>
        <p>Full Stack Web Development, 2016</p>

        <h3>University of Northern Colorado <small>Greeley CO</small></h3>
        <p>Bachelor of Fine Arts, Theatre, 2006</p>
      </section>

        <h2>Work Experience</h2>
      <section class="experience">
        <h3>Aveda Institute Denver <small>Denver CO</small></h3>
        <p>Reservations Specialist, 2014 - 2015</p>

        <h3>Circle Drive Auto Repair <small>Denver CO</small></h3>
        <p>Automotive Service Writer, 2009 - 2014</p>
      </section>
  </div>

  <div class="col-md-3 col-md-pull-7">
    <h2>Skills</h2>

    <h3>Languages</h3>
      <ul>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>SQL</li>
      </ul>

    <h3>Frameworks/Libraries</h3>
      <ul>
        <li>AngularJS</li>
        <li>jQuery</li>
        <li>SASS</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Knex.js</li>
        <li>Handlebars</li>
      </ul>

    <h3>Techniques</h3>
      <ul>
        <li>Pair Programming</li>
        <li>TDD</li>
        <li>Agile</li>
      </ul>

    <h3>Tools</h3>
      <ul>
        <li>Git</li>
        <li>Github</li>
        <li>Pivotal Tracker</li>
        <li>Heroku</li>
        <li>Firebase</li>
      </ul>

    <h3>With a Dash Of...</h3>
      <ul>
        <li>Ruby on Rails</li>
        <li>Ionic</li>
        <li>MongoDB</li>
        <li>OAuth</li>
        <li>Sockets.io</li>
      </ul>
  </div>
</div>

</div>
