<div class='resume'>
  <h1>Resume <small>(PDF)</small></h1>
<div class="row">
  <div class="col-md-3">
    <h2>Skills</h2>

    <h3>Languages</h3>
      <ul>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>SQL</li>
      </ul>

    <h3>Frameworks/Libraries</h3>
      <ul>
        <li>AngularJS</li>
        <li>jQuery</li>
        <li>SASS</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Knex.js</li>
        <li>Handlebars</li>
      </ul>

    <h3>Techniques</h3>
      <ul>
        <li>Pair Programming</li>
        <li>TDD</li>
        <li>Agile</li>
      </ul>

    <h3>Tools</h3>
      <ul>
        <li>Git</li>
        <li>Github</li>
        <li>Pivotal Tracker</li>
        <li>Heroku</li>
        <li>Firebase</li>
      </ul>

    <h3>With a Dash Of...</h3>
      <ul>
        <li>OAuth</li>
        <li>Ionic</li>
        <li>MongoDB</li>
        <li>Sockets.io</li>
      </ul>
  </div>
  <div class="col-md-8">
    <h2>Projects <small><a ui-sref="projects">(More Info...)</a></small></h2>
    <section class="projects">
      <h3>tuneUp <small><a href="https://tuneupjs.herokuapp.com/" target="_blank">visit</a> | codebase</small></h3>
      <p class='tech-notes'>Notable Tech: AngularJS, SQL, JSON Web Tokens</p>
      <p>This is some filler text about this app. This app sure is the best. I bet you want to hire me after reading this.</p>

      <h3>The Illiterati of Denver <small>visit | codebase</small></h3>
      <p class='tech-notes'>Notable Tech: AngularJS, Javascript, CSS</p>
      <p>Here is some more, super awesome filler text. I’m surprised that this text is better than the last, but it is!</p>

      <h3>WhereAbouts <small>visit | codebase</small></h3>
      <p class="tech-notes">Notable Tech: jQuery, Google Maps API, OAuth, SQL, Knex.js</p>
      <p>Another skill to add to this resume is how freaking good I am at writing filler text. Even though I should just write the actual text.</p>


      <h3>This Week in Marvel History <small>visit | codebase</small></h3>
      <p class="tech-notes">Notable Tech: jQuery, Marvel Comics API, HTML, CSS</p>
      <p>I made this app. It is a good app. There are many like it, but this one is mine. Actually, I’m not sure if there are many like this app or not. </p>

      <h3><a ui-sref="projects">More Projects...</a></h3>
    </section>

    <h2>Education</h2>
      <section class="education">
        <h3>Galvanize <small>Boulder CO</small></h3>
        <p>Full Stack Web Development, 2016</p>

        <h3>University of Northern Colorado <small>Greeley CO</small></h3>
        <p>Bachelor of Fine Arts, Theatre, 2006</p>
      </section>

        <h2>Work Experience</h2>
      <section class="experience">
        <h3>Aveda Institute Denver <small>Denver CO</small></h3>
        <p>Reservations Specialist, 2014 - 2015</p>

        <h3>Circle Drive Auto Repair <small>Denver CO</small></h3>
        <p>Automotive Service Writer, 2009 - 2014</p>
      </section>



  </div>
</div>

</div>
