<div class='writing'>
  <h1>Writing</h1>
  <div class="row">
  <div class="col-md-10">

  <article>
  <h2 class="writing-sample">
    <a href="https://medium.com/@jlincolndennis/2015-the-year-in-media-c64922847e27#.ugo5q9jq6" target="_blank">The Year in Media</a></h2>
  <blockquote cite="https://medium.com/@jlincolndennis/2015-the-year-in-media-c64922847e27#.ugo5q9jq6">
  Media, art, pop culture — whatever you want to call it — is a profoundly important part of my life. When I close my eyes and try to remember what 2015 felt like, among images of my friends and family and experiences are Steven and Amethyst, Kate and Clint, Rey and Fin, Jupiter and Caine and more. And what’s most exciting of all, back on January 1st, 2015, I had no idea these some of these characters or the pieces of art they are from existed, or if I did, I didn’t know how they’d exist for me. And now its January 1st, 2016. What wonderful things exist outside of my current perception that I will get to experience in the coming year?
  </blockquote>

  <p class="go-read"><a href="https://medium.com/@jlincolndennis/2015-the-year-in-media-c64922847e27#.ugo5q9jq6" target="_blank">Continue Reading...</a></p>
  </article>

  <article>
  <h2 class="writing-sample">
    <a href="https://medium.com/@jlincolndennis/so-you-ve-decided-to-give-your-life-to-comics-c0498f44517d#.hhids2lwu" target="_blank">
    So You've Decided To Give Your Life To Comics...</a></h2>
  <blockquote cite="https://medium.com/@jlincolndennis/so-you-ve-decided-to-give-your-life-to-comics-c0498f44517d#.hhids2lwu">
  Have you ever said to yourself, “Self, comics appear to be a pretty cool and unique story telling medium! I sure wish I knew more about them, so I could explore this new and exciting world!” What a coincidence! I just happen to be here to tell you more than you’d ever want to know about the wonderful world of comics and graphic novels!
  These are some of the best graphic novels available now. Some are stand-alone, others are collections of ongoing comic series. None of them require any background knowledge, just the love of good stories and amazing artwork.
  </blockquote>

  <p class="go-read"><a href="https://medium.com/@jlincolndennis/so-you-ve-decided-to-give-your-life-to-comics-c0498f44517d#.hhids2lwu" target="_blank">Continue Reading...</a></p>
  </article>

  <article>
  <h2 class="writing-sample">
    <a href="https://medium.com/@jlincolndennis/my-queer-manifesto-9d098fb33202#.gohwgzq8w" target="_blank">
    My Queer Manifesto</a></h2>
  <blockquote cite="https://medium.com/@jlincolndennis/my-queer-manifesto-9d098fb33202#.gohwgzq8w">
When I started identifying as queer, I realized that it is not a coincidence that the attitude of queerness permeates most of my identity. My art, my politics, my self expression, my passions and my pleasures are all queer, skewed from “normal”, and that has nothing to do with sex. And being skewed is not to say better or worse. It is just different, but inclusive. It means, have no preconceived notions about me. Judge me by my actions and my words, but don’t think you have me in a box. But it also means, let’s talk about the idea of boxes. How do you see your self? Are you in a box? Want to be queer with me, and also… want to be <em>queer</em> with me?
  </blockquote>

  <p class="go-read"><a href="https://medium.com/@jlincolndennis/my-queer-manifesto-9d098fb33202#.gohwgzq8w" target="_blank">Continue Reading...</a></p>
  <article>
</div>
</div>

</div>
