@import 'variables';


.contact {
  a, h1, a.contact {
    color: $green;
  }
  li {
    margin-bottom: 7px;
  }

  li a {

    color: $black;
  }

  li a:hover {
    font-weight: bold;
    color: $green;
  }
}
