@import 'variables';

* {
  font-family: 'Raleway', sans-serif;
}

.home h1, a.home{
  color: $orange;
}

.projects h1, a.projects {
  color: $red;
}

.writing h1, a.writing  {
  color: $blue;
}

.contact h1, a.contact {
  color: $green;
}
