* {
  font-family: 'Raleway', sans-serif;
}

.home h1, a.home{
  color: #f17105;
}

.about h1, a.about{
  color: #d11149;
}



.projects h1, a.projects {
  color: #1a8fe3;
}

.writing h1, a.writing  {
  color: #2ECC71;
}

.contact h1, a.contact {
  color: #e6c229;
}
