@import 'variables';

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  height: 50px;
  text-align: center;
  color: rgb(242, 242, 242);;
  padding: 0;
  //
}
nav h1 {
  margin-top: 10px;
  font-size: 48px;
  text-align: center;

}
nav h4 {
  margin-top: -10px;
  text-align: center;
}

.masthead {
  // height: 80px;
  padding: 0px;
  color: rgb(242, 242, 242);
  background: $black;
}

.byline {
  font-style: italic;
}

.nav-home {
  background: #f17105;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
}

.nav-home:hover {
  color: $orange;
  background: white;
  font-weight: bold;
}

.nav-projects {
  background: $red;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
}

.nav-projects:hover {
  color: $red;
  background: white;
  font-weight: bold;
}

.nav-resume {
  background: $purple;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
}

.nav-resume:hover {
  color: $purple;
  background: white;
  font-weight: bold;
}

.nav-writing {
  background: $blue;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
}

.nav-writing:hover {
  color: $blue;
  background: white;
  font-weight: bold;
}

.nav-contact {
  background: $green;
  font-size: 1.3em;
  padding-top: 15px;
  transition: background-color 0.5s ease;
}

.nav-contact:hover {
  color: $green;
  background: white;
  font-weight: bold;
}


@media (max-width: 430px) {

  nav {
    font-size: .8em;
  }
  .nav-projects, .nav-home, .nav-about, .nav-resume, .nav-writing, .nav-contact{
    padding: 15px 0px 0px 0px;
  }
}
