.projects {
  article {
    margin-bottom: 80px;
  }
}

.screenshot {
  padding-top: 30px;
}

.project-name {
  margin-bottom: 5px;
}

.project-links {
  margin-top: 0px;

  small a {
    color: $red
  }
}
.tech-notes {
  font-style: italic;
}
