.projects {
  article {
    margin-bottom: 80px;
  }
}

.screenshot-wrapper {
  padding-top: 30px;
}

.project-name {
  margin-bottom: 5px;
}

.project-links {
  margin-top: 0px;

  small a {
    color: $red
  }
}
.tech-notes {
  font-style: italic;
}

.embiggen {
  font-size: .9em;

  a {
    color: $red;
  }
}

img.screenshot {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid gray;
}
