@import 'variables';


.writing h1, a.writing  {
  color: $blue;
}

.go-read a{
  color: $blue
}

.writing div article{
  margin-bottom: 60px;
}

.writing-sample a:hover {
  color: $blue

}
.writing-sample a {
  color: black;
}

blockquote {
  font-size: 16px;
}
